.tweetTextArea{
    /*background: none;*/
    padding: 4px;
    color: black;
    font-size: 16px;
    font-family: Arial;

    width: 280px;
    height: 256px;
    resize: none;
    outline: none;
}
.textPostionX, .textPostionY {
    width: 96px;
}